body{
  background-color: white;
}

.button1{
  background-color: red;
  color: gray;
}

.button2{
  background-color: blue;
  color: white;
}

.button3{
  background-color: green;
  color: yellow;
}
